<h3>член групп</h3>
<div class="row" *ngIf="isLoader$ | async; else unset">
  <div class="col d-flex justify-content-center">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<ng-template #unset>
  <div class="row">
    <div class="col">
      <form [formGroup]="formDelete">
        <select
          formControlName="selectRole"
          class="form-select"
          size="3"
          aria-label="size 3 select example"
        >
          <option
            *ngFor="let role of rolesByUser$ | async"
            class="border-bottom d-flex justify-content-between p-2"
            [value]="role.name"
          >
            {{ role.name }} - {{ role.description }}
          </option>
        </select>
      </form>
    </div>
    <div class="col-auto">
      <div class="d-flex flex-column">
        <switch-role-add-role></switch-role-add-role>
        <button
          (click)="onDeleteRole()"
          [disabled]="selectRole.invalid"
          class="btn btn-danger btn-sm mb-1"
        >
          удалить
        </button>
      </div>
    </div>
  </div>
</ng-template>
