<div class="row">
  <div class="col-auto">
    <div class="icon img-thumbnail mb-3">
      <img [src]="srcImage" alt="..." (dblclick)="file.click()" />
      <input
        (change)="getImage($event)"
        type="file"
        #file
        style="visibility: hidden; display: none"
        accept=".png, .jpg, .jpeg"
      />
    </div>
  </div>
  <div class="col">
    <form [formGroup]="form">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control {{ validator('firstName') }}"
          id="first"
          placeholder="имя"
          formControlName="firstName"
        />
        <label for="first">имя</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control {{ validator('lastName') }}"
          id="last"
          placeholder="фамилия"
          formControlName="lastName"
        />
        <label for="last">фамилия</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control {{ validator('email') }}"
          id="mail"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="mail">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="tel"
          class="form-control {{ validator('phoneNumber') }}"
          id="phone"
          placeholder="телефон"
          formControlName="phoneNumber"
        />
        <label for="phone">телефон</label>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button
          type="submit"
          [disabled]="!(form.touched && form.valid)"
          class="btn btn-primary btn-sm mt-3"
        >
          сохранить
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row"></div>
