<h3>смена пароля</h3>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  *ngIf="!(isLoader$ | async); else unset"
>
  <div class="row">
    <div class="col mb-3">
      <div class="row">
        <div class="col">
         <!--  <label for="password" class="form-label">passwor</label> -->
          <input
            id="password"
            class="form-control mb-2 {{ matchingPasswords('password') }}"
            type="password"
            placeholder="новый пароль"
            formControlName="password"
            autocomplete="new-password"
          />
          <div *ngIf="password?.errors?.['required']" class="invalid-feedback">
            заполните поле пароль
          </div>
          <div *ngIf="password?.errors?.['minlength']" class="invalid-feedback">
            минимальная длина
            {{password?.errors?.['minlength'].requiredLength}} знаков
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
       <!--    <label for="confirmPassword" class="form-label"
            >confirm password</label
          > -->
          <input
            id="confirmPassword"
            class="form-control mb-2 {{ matchingPasswords('confirmPassword') }}"
            type="password"
            placeholder="подтвердите пароль"
            formControlName="confirmPassword"
            autocomplete="current-password"
          />
          <div
            *ngIf="confirmPassword?.errors?.['required']&&(confirmPassword?.touched || confirmPassword?.dirty)"
            class="invalid-feedback"
          >
            заполните поле потвердить пароль
          </div>
          <div
            *ngIf="confirmPassword?.errors?.['minlength']"
            class="invalid-feedback"
          >
            минимальная длина
            {{confirmPassword?.errors?.['minlength']?.requiredLength}} знаков
          </div>
          <div
            *ngIf="form.errors?.['matchingPasswords']"
            class="invalid-feedback"
          >
            пароли не совпадают
          </div>
        </div>
      </div>
      <input
        hidden
        type="text"
        autocomplete="username"
        name="username"
        value=""
      />
    </div>
    <div class="col-auto d-flex justify-content-center align-items-end">
      <button
        type="submit"
        [disabled]="!(form.touched && form.valid)"
        class="btn btn-primary btn-sm"
      >
        сохранить
      </button>
    </div>
  </div>
</form>
<ng-template #unset>
  <div style="display: flex; align-items: center; justify-content: center">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
