<h3>danger zone</h3>
<div class="p-4 border border-danger">
  <div class="row p-1">
    <div class="col">
      <b>Отключить этого пользователя.</b>
      Пометить этого пользователя как отключенный, пользователь потеряет доступ
      к системе.
    </div>
    <div class="col-auto">
      <button class="btn btn-sm btn-danger">отключить пользователя</button>
    </div>
  </div>
  <hr />
  <div class="row p-1">
    <div class="col">
      <b>Удалить этого пользователя.</b>
      Как только вы удалите пользователя, пути назад уже не будет. Пожалуйста,
      будьте уверены.
    </div>
    <div class="col-auto">
      <button class="btn btn-sm btn-danger">удалить пользователя</button>
    </div>
  </div>
</div>
